[data-theme="light"],
 :root:not([data-theme="dark"]) {
    --primary: #6f7a67;
    --font-family: "Heebo", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.media-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#select-design input {
    border: none;
    background-color: currentColor;
}

#select-design input:checked {
    background-color: #fff;
    border: .35em solid currentColor;
}

[x-cloak] {
    display: none !important;
}

input.invalid {
    border-color: red;
}

fieldset[disabled] {
    opacity: 0.5;
}

.logo-banner {
    max-height: 10rem;
}

.logo-banner-wrapper {
    background-color: #A9B5A7;
}

.grid-no-responsive {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}